# PlatformIO & Arduino
.pio/
.pioenvs/
.piolibdeps/
*.bin
*.elf
*.hex
*.map

# Python & Machine Learning (Backend)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
/be_ml/.gradio/
/be_ml/sensor_env/

# VS Code 
.vscode/
*.code-workspace

# Node-RED & Node.js
# node_modules // nếu dùng thư viện bên ngoài nào thì uncomment dòng này
package-lock.json
*.backup
*.log

# OS / System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets

# Data
*.csv

# nodered_flows
*.json.backup
.config.*
nodered_flows/flows_cred.json
nodered_flows/uibuilder/.config/
nodered_flows/uibuilder/common/images/
nodered_flows/uibuilder/home/api/.keep
nodered_flows/uibuilder/home/routes/.keep

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*